@import '../../styles/colors.scss';

.step {
  position: relative;
  display: flex;
  align-items: center;
  width: 376px;
  height: 40px;
  cursor: pointer;
  border: unset;
  background: unset;
  padding: 0;
  margin-bottom: 8px;
  justify-content: center;

  svg {
    position: absolute;
  }

  &-content {
    z-index: 2;
    display: flex;
    padding: 0 40px;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 116%;
    display: flex;
    align-items: center;
    text-align: center;
    color: $black-100;
  }
}
